<div class="notes">
        {%if notes%} {% for note in notes %}
        <div class="content">
            <div class="row">
                <div class="col-md-8">
                    <h4>{{note.title}}</h4>
                </div>
                <div class="col-md-1">
                    <a href="/notes/{{note.id}}">Delete</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="desc">
                        <data class='note_id' type='hidden' value='{{note.id}}'></data>
                        <p class="note_content">{{note.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {%endfor%} {%endif%}
    </div>