input{
    margin-bottom: 5px;
}
/* h3{
    border-bottom: 1px solid rgb(190, 187, 187);
} */
.desc{
    border: 1px solid gray;
    overflow-y: scroll;
    height: 100px;
}
.note{
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid rgb(190, 187, 187);
}
.notes{    
    width: 450px;
    /* margin: 5%;*/
    padding: 2%; 
    border-bottom: 1px solid rgb(190, 187, 187);
}
.container{
   background: linear-gradient(-90deg, gray, white);
}
#heading{
    background-color: gray;
    padding: 2%;
    text-align: center; 
} 
#title{
    font-size: 20px;
}
.deleteNote{
    font-weight: bold;
}